.news {
  margin-top: 60px;
}

.scrollWrapper {
  overflow: hidden;
  position: relative;
  display: flex;
}

.scrollContainer {
  display: flex;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll 25s linear infinite;
}

.scrollImage {
  display: inline-block;
  max-width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 480px) {
  .news {
    margin-top: 40px;
  }

  .scrollImage {
    max-width: 150px;
    height: 150px;
  }
}
