@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-screen-2xl mx-auto md:px-8 md:py-4 py-2 px-3;
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../public/fonts/Montserrat-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/Montserrat-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Andasia Personal Use";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/Andasia.woff2) format("woff2");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../public/fonts/Montserrat-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../public/fonts/Montserrat-SemiBold.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Aquire";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/AquireLight-YzE0o.woff2) format("woff2");
  }

  @font-face {
    font-family: "Aquire";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../public/fonts/AquireBold-8Ma60.woff2) format("woff2");
  }

  @font-face {
    font-family: "Aquire";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../public/fonts/Aquire-BW0ox.woff2) format("woff2");
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

.red {
  background: rgba(236, 0, 0, 1);
}

.white_color {
  color: rgba(255, 255, 255, 1);
}

.color_red {
  color: rgba(236, 0, 0, 1);
}

.radius {
  border: 1px solid rgba(236, 0, 0, 1);
}

.bg_red_100 {
  background-color: rgba(255, 178, 178, 1);
}

.aquire_font_400 {
  font-family: "Aquire";
  font-weight: 400;
}

.andasia {
  font-family: "Andasia Personal Use";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.aquire_font_600 {
  font-family: "Aquire";
  font-weight: 600;
}

.aquire_font_700 {
  font-family: "Aquire";
  font-weight: 700;
}

.montserrat_font_400 {
  font-family: "Montserrat";
  font-weight: 400;
}

.montserrat_font_500 {
  font-family: "Montserrat";
  font-weight: 500;
}

.montserrat_font_700 {
  font-family: "Montserrat";
  font-weight: 700;
}

.montserrat_font_800 {
  font-family: "Montserrat";
  font-weight: 800;
}

.montserrat_font_600 {
  font-family: "Montserrat";
  font-weight: 600;
}

.box_shadow_1 {
  box-shadow: 0px 20px 10px 0px rgba(255, 0, 0, 0.25) inset;
}

.box_shadow_2 {
  box-shadow: 0px -10px 10px 0px rgba(255, 0, 0, 0.25) inset;
}

:root {
  --primary-color: rgba(34, 34, 34, 1);
  --primary-color-red: rgba(236, 0, 0, 1);
  --primary-color-white: rgba(255, 255, 255, 1);

  /* font */
  --font-aquire: "Aquire", sans-serif;
}

.splide__pagination {
  display: none !important;
}

.splide__slide {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.splide__slide.is-active {
  transform: scale(1);
  z-index: 10;
}

.splide__arrow:disabled {
  width: 40px !important;
  height: 40px !important;
  opacity: 1 !important;
  background-color: var(--primary-color-red);
}

.splide__arrow {
  background-color: var(--primary-color-red) !important;
  width: 40px !important;
  height: 40px !important;
}

.splide__arrow svg {
  color: #fff !important;
  fill: #fff !important;
}

.splide__list {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}

.splide__arrow--next {
  padding: 5px !important;
  right: -1rem !important;
  border-radius: 50% !important;
}

.splide__arrow--prev {
  padding: 5px !important;
  left: -1rem !important;
  border-radius: 50% !important;
}

.radius_footer {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

@media (max-width: 768px) {
  .splide {
    overflow: hidden;
    padding: 0 !important;
  }

  .splide__arrow--next {
    display: none !important;
  }

  .splide__arrow--prev {
    display: none !important;
  }

  .splide__slide {
    transform: scaleY(0.95);
    transition: transform 0.3s ease;
  }

  .splide__slide.is-active {
    transform: scaleY(1);
    z-index: 10;
  }

  .radius_footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
